version: '3.9'

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: api_dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning
    ports:
      - "6379:6379"
    expose:
      - 6379
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./backend            # ← путь к папке с Rails Dockerfile
    command: bash -c "rm -rf /api/tmp/pids/server.pid; bundle install; rails db:create db:migrate; bundle exec rails s -b 0.0.0.0 -p 5000"
    volumes:
      - ./backend:/api
      - gem_cache:/usr/local/bundle
    ports:
      - "5000:5000"                  # удобно для прямого доступа и Postman
    expose:
      - 5000
    depends_on:
      db:
        condition: service_healthy
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/api_dev
    stdin_open: true
    tty: true

  react-app:
    build:
      context: ./frontend           # ← путь к папке с React (там Dockerfile и package.json)
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
      - HOST=0.0.0.0
    depends_on:
      - backend
    stdin_open: true
    tty: true

volumes:
  postgres_data:
  redis_data:
  gem_cache:
