
a {
  text-decoration: none;
}

.__feed {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  ._header {
      display: flex;
      justify-content: center;
      background-color: #EA5247;
      width: 100%;

      ._tag {
          font-size: 28px;
          font-weight: 700;
          color: #FDFBF9;
          padding-top: 4px;
          padding-bottom: 4px;
      }
  }

  .post {
      background-color: #F3EDF0;
      overflow: hidden;
      margin-bottom: 20px;

      .author-info {
          display: flex;
          align-items: center;
          padding: 12px;

          .author-photo {
              width: 56px;
              height: 56px;
              margin-right: 15px;
          }

          .author-name {
              color: #0A2541;
              font-weight: 500;
              font-size: 18px;
          }

          .author-username {
              color: #0A2541;
              font-size: 14px;
          }
      }

      .post-content {

          .post-text {
              margin-left: 12px;
              margin-bottom: 12px;
          }

          .post-image {
              width: 100%;
          }
      }

      .post-actions {
          display: flex;
          justify-content: flex-start;
          gap: 12px;
          padding: 12px;

          .action-button {
              display: flex;
              justify-content: space-evenly;
              height: 28px;
              width: 52px;
              background: #FDFBF9;
              box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
              border-radius: 24px;
              border: none;
              align-items: center;
              padding: 2px;

              .pic-in-btn {
                  height: 16px;
                  width: 16px;
                  border-radius: 24px;
                  border: none;
              }
          }
          
          .action-button-big {
              display: flex;
              justify-content: space-evenly;
              height: 28px;
              width: 112px;
              box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
              border-radius: 24px;
              border: none;
              align-items: center;
              padding: 2px;

              .pic-in-btn {
                  height: 16px;
                  width: 16px;
                  border-radius: 24px;
                  border: none;
              }
          }
          
          
          .action-button:focus {
              outline: none;
          }
      }
  }

  .bottom-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);


      .nav-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          text-decoration: none;
          color: #333;
      }

      .icon {
          width: 28px;
          height: 28px;
          margin-bottom: 5px;
      }
  }
}