.button {
  border-radius: 24px;
  border: none;
  height: 40px;
}

a {
  text-decoration: none;
}

.__sign-in {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  top: 120px;
  gap: 20px;

  ._logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 30px;
  }

  ._form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 80%;
            

      ._data_input {
          height: 40px;
          background: #FDFBF9;
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          border: none;
      }

      ._text-link{
          display: flex;
          justify-content: center;
      }
  }
  
  ._justify-ors{
      display: flex;
      align-items: center;
      gap: 10px;

      ._or {
          border-bottom: 1px solid #D9D9D9;
          width: 150px;
          height: 1px;
      }
  }

  ._links{
      display: flex;
      align-items: center;
      gap: 25px;

      .pic-in-btn{
          padding-left: 34px;
      }

      .btn-vk {
          height: 48px;
          width: 96px;
          background: #FDFBF9;
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
          border-radius: 24px;
          border: none;
      }

      .btn-ok {
          height: 48px;
          width: 96px;
          background: #FDFBF9;
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
          border-radius: 24px;
          border: none;
          
      }

      .btn-gos {
          height: 48px;
          width: 96px;
          background: #FDFBF9;
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
          border-radius: 24px;
          border: none;
          
      }
  }
}